[b-uhfte7cyd1] .grid-cell-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: -4px;
}

[b-uhfte7cyd1] .grid-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    vertical-align: middle;
}

[b-uhfte7cyd1] .grid-icon-new {
    -webkit-mask-image: url(../images/icons/new.svg);
    mask-image: url(../images/icons/new.svg);
}

[b-uhfte7cyd1] .grid-icon-add {
    -webkit-mask-image: url(../images/icons/add.svg);
    mask-image: url(../images/icons/add.svg);
}

:: deep .grid-icon-delete[b-uhfte7cyd1] {
    -webkit-mask-image: url("../images/icons/delete.svg");
    mask-image: url("../images/icons/delete.svg");
}

[b-uhfte7cyd1] .grid-toolbar-new,
[b-uhfte7cyd1] .grid-toolbar-delete,
[b-uhfte7cyd1] .grid-toolbar-save,
[b-uhfte7cyd1] .grid-toolbar-cancel {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

[b-uhfte7cyd1] .grid-toolbar-new {
    -webkit-mask-image: url("images/icons/new.svg");
    mask-image: url("images/icons/new.svg");
}

[b-uhfte7cyd1] .grid-toolbar-save {
    -webkit-mask-image: url("images/icons/save.svg");
    mask-image: url("images/icons/save.svg");
}

[b-uhfte7cyd1] .grid-toolbar-cancel {
    -webkit-mask-image: url("images/icons/undo.svg");
    mask-image: url("images/icons/undo.svg");
}

[b-uhfte7cyd1] .grid-modified-cell {
    background-color: rgba(var(--bs-primary-rgb), 0.15) !important;
}

[b-uhfte7cyd1] .grid-disabled-button {
    pointer-events: none;
}
